body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo-black {
    height: 100px;
    width: auto;
    float: left;
    margin: 5px 0;
}
.nav-style {
    float: left;
    list-style: none;
    margin-top: 35px;
}
.vl {
    border-left: 1px solid #bd2726;
    height: 40px;
}
.body-content {
    margin-top: 80px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #bd2726;
    margin-bottom: 10px;
}

/*---------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------------*/

.row {
    padding: 10px;
    margin-top: 50px;
}

.col-style {
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: #eeeeee;
    box-shadow: inset 3px 1px #fff;
}