@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-xs-6 col-md-4 col-style">
        <ion-icon class="icon-big" name="car-sport-outline"></ion-icon>
        <h3>Auta</h3>
        <p>
            Tato sekce spravuje vás vozový park.
        </p>
    </div>
    <div class="col-xs-6 col-md-4 col-style">
        <ion-icon class="icon-big" name="shield-checkmark-outline"></ion-icon>
        <h3>Pojištění</h3>
        <p>
            Tato sekce umožňuje sledovat a spravovat stav vašeho pojištění.
        </p>
    </div>
    <div class="col-xs-6 col-md-4 col-style">
        <ion-icon class="icon-big" name="cash-outline"></ion-icon>
        <h3>Výdaje</h3>
        <p>
            Správa výdaju za vozidlo. Mějte své výdaje pod kontrolou.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-4 col-style">
        <ion-icon class="icon-big" name="funnel-outline"></ion-icon>
        <h3>Tankování</h3>
        <p>
            Správa spotřeby pohonných hmot. Mějte své výdaje za palivo pod kontrolou.
        </p>
    </div>
    <div class="col-xs-6 col-md-4 col-style">
        <ion-icon class="icon-big" name="construct-outline"></ion-icon>
        <h3>Opravy</h3>
        <p>
            Správa servisních zásahů. Mějte pod kontrolou všechny důležité opravy vašeho vozu.
        </p>
    </div>
    <div class="col-xs-6 col-md-4 col-style">
        <ion-icon class="icon-big" name="build-outline"></ion-icon>
        <h3>Běžný servis</h3>
        <p>
            Správa servisních prohlídek. Mějte pod kontrolou pravidelnou údržbu vašeho vozu.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-3 col-style">
        <ion-icon class="icon-big" name="document-text-outline"></ion-icon>
        <h3>STK</h3>
        <p>
            Správa technické kontroly vozidel. Mějte pod kontrolou technický stav vašeho vozidla.
        </p>
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-3 col-style">
        <ion-icon class="icon-big" name="sync-outline"></ion-icon>
        <h3>Přezouvání</h3>
        <p>
           Správa výměny pneumatik. Mějte pod kontrolou přezouvání a stav vašich pneumatik.
        </p>
    </div>
    <div class="col-xs-6 col-sm-3"></div>
</div>

